#content .container {
  width: 95%;
}

.section .minor-heading {
  background-color: #6C7A89;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 10px;
}

.section .major-heading {
  background-color: #337ab7;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  padding: 5px;
  border-radius: 10px;
  border-top: 2px solid black;
}

.section .major-heading hr {
  margin: 0;
}

.section .heading .minor-title {
  padding-left: 10px;
  font-size: 25px;
  color: white;
}

.section .heading .major-title {
  font-size: 35px;
  color: gold;
}

.section .heading .current-version {
  float: right;
  padding-right: 10px;
  font-size: 20px;
  color: white;
}

.info {
  color: black;
  background-color: FloralWhite;
  margin-left: 30px;
  margin-right: 30px;
  padding: 10px;
  font-size: 20px;
}

.info table {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
}
.info table td {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  vertical-align: middle;
  white-space:normal
}

.view-older-versions {
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  cursor: pointer;
}

.old-version-heading {
  margin-top: 10px;
  margin-bottom: 5px;
  border-top: 3px solid black;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  color: white;
  background-color: #d9534f;
  font-size: 20px;
}

.info.old-info {
  font-size: 18px;
}

